<hr>
<footer>
      <p class="copy">
        &copy; 2020 All Rights Reserved by <strong>Jatin Chawla</strong>
      </p>
      <div class="social-links">
        <a href="#" class="fa fa-twitter twitter"></a>
        <a href="#" class="fa fa-linkedin linkedin"></a>
        <a href="#" class="fa fa-facebook facebook"></a>
        <a href="#" class="fa fa-github github"></a>
      </div>
    </footer>